body {
  background-color: aquamarine;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: yellowgreen;
  color: yellow;
  padding: 20px;
  display: flex;
  justify-content: center;
}
h1 {
  display: flex;
  text-align: center;
}
.general {
  display: flex;
  gap: 20px;
  margin: 20px;
  flex-direction: row;
}
aside {
  background-color: limegreen;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100px;
  margin: 1%;
  border: 1%;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
li {
  justify-content: left;
  align-content: left;
}
h2 {
  display: flex;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
section {
  margin: 20px;
  padding: 10px;
  background-color: #fafafa;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3 {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
input {
  display: flex;
  text-align: center;
}
footer {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
