* {
  display: flex;
  flex-direction: column;
}
body {
  background-color: aquamarine;
  display: flex;
}
#general {
  display: flex;
  flex-direction: column;
}
header {
  background-color: yellowgreen;
  color: yellow;
  text-align: center;
}
aside {
  background-color: limegreen;
  width: 50%;
}
main {
  background-color: darkolivegreen;
}
footer {
  background-color: darkgreen;
}
